body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.heading-text {
    font-family: 'Pirata One', cursive;
}
.orange-highlight {
    color: orange;
}
.dev {
    color: hotpink;
}
.width50 {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.width50 img {
    width: 100%;
}
section {
    height: 500px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(247, 150, 112),rgb(252, 83, 53));
    padding: 7px 15px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}
.dream-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp {
    box-shadow: 10px 10px 40px grey ;
    border-radius: 5px;
    height: 80%;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    float: left;
}
#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice: 1;
}
#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan) ;
    border-image-slice: 1;
}